/*========================
  table of contents
 ==========================
1. OPTIONS (filtred data)
2. Show all tasks
3. add task
4.light mode
*/



/*========================
  OPTIONS (filtred data)
 ==========================*/


.home .parent-of-btns button{
  background-color: #3427c2;
  font-size: 16px;
  padding: 8px 13px;
  border-radius: 7px;
  border: none;
  margin-right: 15px;
}

.home .parent-of-btns select{
  background: #666;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
}


 /*========================
  Show all tasks
 ==========================*/
.home .all-tasks{
  justify-content: center;
  flex-wrap: wrap;
}

.one-task{
  border: 2px solid white;
  margin: 40px 20px;
  border-radius: 7px;
  height: 141px;
  width: 300px;
  transition: 0.2s;
  cursor: pointer;
}

.one-task:hover{
  border-left: 10px solid antiquewhite;
}

.one-task h2{
  font-size: 23px;
  margin-top: 13px;
  margin-bottom: 10px;
}

.one-task li{
  list-style-type: circle;
  list-style-position: inside;
  font-size: 14px;
  line-height: 25px;
  /*wrong */
  text-align: start;
  margin: 0 10px;
}
.one-task .time{
  font-size: 11px;
  text-align: right;
  margin-right: 8px;
  color: rgb(164, 213, 255);
  line-height: 25px;
}

 /*========================
  add task
 ==========================*/

 .home .add-task-btn{
  background-color: teal;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 7px;
  border: none;
  margin-bottom: 40px;
 }

 .fa-plus{
  font-size: 14px;
 }

/*========================
  light mode
 ==========================*/
 .Light .all-tasks .one-task{
  background-color: #666;
  color: white;
 }

 .Light .all-tasks .one-task:hover{
 border-left: 6px solid wheat;
}
 .Light .all-tasks .one-task .time{
  color: #f1f1f1db;
 }

 /*========================
  modal
 ==========================*/

.home .modal li{
  font-size: 13px;
  color: #333;
  list-style-type: circle;
  list-style-position: inside;
  margin-bottom: 8px;
}

.fa-circle-check{
  color: rgb(9, 198, 198);
  margin-left: 6px;
}

.success{
  background-color: whitesmoke;
  color: #1b1b1b;
  padding: 8px 12px;
  font-size: 17px;
  border-radius: 6px;
  position: fixed;
  top: 100px;
  right: -100vw;
  transition: 1s;
}

