.loading{
  height: 150px;
  width: 150px; 
  border-top: 5px solid red;
  border-right: 5px solid red;
  border-radius: 50%;
  animation: mymove 1s linear infinite;
 }
 
 @keyframes mymove{
   0% {transform: rotate(0deg)}
   100% {transform: rotate(360deg);}
 }